<div class="panel panel-default">
    <div class="panel-body">

        <div class="btn-group" role="group">
            <a class="btn btn-default" data-ui-sref="list" ui-sref-active="btn-primary">Список</a>
            <a class="btn btn-default" data-ui-sref="createNewPokemon" ui-sref-active="btn-primary">Добавить нового</a>
            <a class="btn btn-default" data-ui-sref="myAccount" ui-sref-active="btn-primary">Личный кабинет</a>
        </div>

    </div>
</div>