<style>
  .ng-dirty.ng-invalid {
    border-color: #fa787e;
  }

  .ng-dirty.ng-valid {
    border-color: #78fa89;
  }
</style>
<form name="$ctrl.loginForm" novalidate>
	<div class="form-group">
		<label for="name">Имя</label>
		<input type="text" class="form-control" name="name" ng-model="$ctrl.user.name" placeholder="Имя" required>
	</div>
  <div ng-messages="$ctrl.loginForm.name.$error" ng-if="$ctrl.loginForm.name.$dirty">
    <div ng-message="required" class="alert alert-danger" role="alert">Поле имя обязательно для заполнения</div>
  </div>
	<div class="form-group">
		<label for="email">Email</label>
		<input type="email" class="form-control" name="email" ng-model="$ctrl.user.email" placeholder="Email" required>
	</div>
  <div ng-messages="$ctrl.loginForm.email.$error" ng-if="$ctrl.loginForm.email.$dirty">
    <div ng-message="required" class="alert alert-danger" role="alert">Поле email обязательно для заполнения</div>
    <div ng-message="email" class="alert alert-danger" role="alert">Введите валидный email</div>
  </div>
	<div class="form-group">
		<label for="phone">Номер телефона</label>
		<input type="tel" class="form-control" name="phone" ng-model="$ctrl.user.phone" placeholder="Номер телефона" required ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/">
	</div>
  <div ng-messages="$ctrl.loginForm.phone.$error" ng-if="$ctrl.loginForm.phone.$dirty">
    <div ng-message="required" class="alert alert-danger" role="alert">Поле номер телефона обязательно для заполнения</div>
    <div ng-message="pattern" class="alert alert-danger" role="alert">Введите валидный номер телефона</div>
  </div>
  <button type="submit" class="btn btn-default" ng-disabled="$ctrl.loginForm.$invalid">Войти</button>
</form>